.card {
    border: 3px solid #FFC857;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lebanonMap {
    display: grid;
    margin: 5%;
    grid-template-columns: 2fr 1fr;
}