.heroSection {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),url(/src/images/heroSection.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    position: fixed;
  }
  
  span {
    color: #FFC857;
  }
  
  .seperator {
    width: 500px;
    background-color: white;
    height: 4px;
    margin: 8px 0;
    transition: width 0.3s ease;
  }
  
  @media (max-width:750px) {
  .seperator {
    width: 400px;
  }
  }