.heroSection {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;

    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),url(/src/images/heroSection.jpg);
    background-repeat:no-repeat;
    background-position:bottom;
    background-size: cover;
    background-attachment: fixed;
  }

.span-1 {
    color: #FFC857;
  }
.title {
  color: white;
}

  .seperator {
    width: 600px;
    background-color: white;
    height: 4px;
    margin: 8px 0;
    transition: width 0.3s ease;
  }

  @media (max-width:500px) {
    .heroSection{
      height: 60vh;
      background-position:bottom;
      background-attachment:scroll;
    }
  }